*{
    box-sizing: border-box;
}

header{
 	font-color: black;
 	font-size: 25px;
 	font-weight: 600;
 	font-family: Verdana;
 	text-align: center;
 	margin-bottom: 10px;
}	

section{  
  background-color: grey;
  border: 1px solid black;
  }

h1{
	margin:0;
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    width: 25%;
    border: 1px solid black;
    margin-bottom: 10px;
    float:right;
}

#class1{
background-color: orange;
}

#class2{
background-color: green;
}	

#class3{
background-color: pink;
}
